<div class="mt-4">
  <h2 class="text-center">Search Movie</h2>
  <input type="text" class="w-100" (input)="changeSearchValue($event)" placeholder="Enter your required movie" />
  <br />
  <span>You are searching: {{ searchValue }}</span>
</div>

<div class="mt-4 d-flex" *ngIf="!hasSearched">
  <div class="card m-1" *ngFor="let movie of movieList" style="width: 18rem;">
    <img [src]="movie.photoUpload" class="card-img-top" width="30px" height="100px" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text">Subtitle: {{ movie.subtitle }}</p>
      <p class="card-text">Description: {{ movie.description }}</p>
    </div>
  </div>
</div>

<div class="mt-4 d-flex" *ngIf="hasSearched">
  <div class="card m-1" *ngFor="let movie of filteredList" style="width: 18rem;">
    <img [src]="movie.photoUpload" class="card-img-top" width="30px" height="100px" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text">Subtitle: {{ movie.subtitle }}</p>
      <p class="card-text">Description: {{ movie.description }}</p>
    </div>
  </div>
</div>

<div class="mt-4">
    <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" #title="ngModel" name="title"
            minlength="10" maxlength="12" required ngModel/>
        <small *ngIf="title.touched && title.invalid" 
           class="text-danger">*Title length must be between 10 and 12</small>
      </div>

      <div class="mb-3">
        <label for="photoUpload" class="form-label">PhotoUpload</label>
        <input type="file" (change)="getImage($event)" class="form-control" id="photoUpload" 
        name="photoUpload" #photoUpload="ngModel" ngModel size="4" required ngModel/>
        <small *ngIf="hasWrongFileFormat" 
            class="text-danger">*Image size must be exceed 200kb.</small>
      </div>

      <div class="mb-3">
        <label for="subtitle" class="form-label">Subtitle</label>
        <input type="text" class="form-control" id="subtitle" #subtitle="ngModel" name="subtitle" 
            minlength="50" maxlength="1000" required ngModel/>
        <small *ngIf="subtitle.touched && subtitle.invalid" 
            class="text-danger">*Subtitle length must be between 50 and 1000</small>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" #description="ngModel" name="description" 
            minlength="50" maxlength="1000" required ngModel/>
        <small *ngIf="description.touched && description.invalid" 
            class="text-danger">*Subtitle length must be between 50 and 1000</small>
      </div>

      <button type="submit" class="btn btn-primary d-block w-100">Submit</button>
    </form>
</div>