<div class="p-4" style="width: 12%; height: 80%;">
    <div class="dropdown">
      <div class="row pt-2">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              User
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/user">User</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              Select Language
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/languages/english">English</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              Modal
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/modal">Modal</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              Product
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/product">Product</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              Cart
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/cart">Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              About
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/about">About</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              Contact
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/contact">Contact</button>
            </div>
          </div>
        </div>
      </div>     
    </div>
</div>