<div class="p-4" style="width: 12%; height: 80%;">
    <div class="dropdown">
        <div *ngFor="let menu of menus">
            <div class="row pt-2">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                            {{ menu }}
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem [routerLink]="[menu]">{{ menu }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>