<div class="p-4" style="width: 25vh;">
    <div class="dropdown">
        <div *ngFor="let menu of menus">
            <div class="row pt-2">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-lg" [routerLink]="[menu.path]" [routerLinkActive]="'active'" (click)="onChange(menu.title)">{{ menu.path }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>